<nav class="navbar navbar-expand-lg navbar-transparent">
    <div class="container">
      <a class="navbar-brand" href="/home" *ngIf="getLoggedIn() === true">Home</a>
      <a class="navbar-brand" href="/" *ngIf="getLoggedIn() === false">Musify</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/songs" *ngIf="getLoggedIn() === true">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/artists" *ngIf="getLoggedIn() === true">Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/genres" *ngIf="getLoggedIn() === true">Genres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/producers" *ngIf="getLoggedIn() === true">Producers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/discover" *ngIf="getLoggedIn() === false">Discover <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" *ngIf="getLoggedIn() === false">Sign In</a>
          </li>
          <li class="nav-item">
            <div class="dropdown-container">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="getLoggedIn() === true">
              <i class="tim-icons icon-spaceship"> </i> 
              Welcome, {{ currentUser }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" routerLink="/profile">My profile</a>
              <a class="dropdown-item" href="#" (click)="logout()" routerLink="/" >Log out</a>
            </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" *ngIf="getLoggedIn() === false">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

