<div class="main-container">
    <div class="homepage-image">
        <img id="airpods-image" src="assets/img/airpods.png" alt="Airpods Model">
    </div>
    <div class="homepage-text">
            <h1>Musify</h1>
            <br>
            <p>Without music, life would be a blank to us.</p>
            <h3 class="blurry-text"><em>What about you?</em></h3>
            <button type="button" class="btn btn-primary btn-lg" role="button" [routerLink] = "['/register']">
              <i class="tim-icons icon-spaceship"></i>
              Join Now
            </button>
    </div>
</div>