#profile-form {
    margin-top: 50px;
    margin-left: 250px;
    width: 80%;
}


.header {
    display: flex;
    flex-direction: row;
  }

#profile-picture {
    width: 300px;
}

.form-row {
    display: flex;
}
  
.column-one {
    flex: 30%;
}
.column-two {
    flex: 70%;
}

.header-row {
    display: flex;
}

.left-text {
    flex: 60%;
}

.right-button {
    margin-right: 200px;
}