<div id="profile-form">
    <div class=header-row>
      <div class="left-text">
      <h1 class="display-1">My profile</h1>
      </div>

      <div class="right-button">
        <a *ngIf="!isEditMode" (click)="setToEditMode()" routerLink="edit/{{id}}" class="btn btn-primary mr-1" id="edit-button">
          <i class="tim-icons icon-pencil"></i>
          Edit
        </a>
      </div>
  </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-row">
    <div class="column-one">

      <div *ngIf="imageError" class="errorMessage">
        <strong class="mat-error">{{imageError}}</strong>
      </div>

      <div>
        <app-image-uploader [image]="imageToShow" [isEditMode]="isEditMode"
        (uploadedImage)="onUploadedImage($event)"></app-image-uploader>
      </div>
      <br>
      <div>
        <button class="btn btn-success mr-1" *ngIf="isEditMode" [disabled]="!currentFileUpload" (click)="upload()">
        <i class="tim-icons icon-check-2"></i>
        Upload Image
        </button>
      </div>

    </div>

    <div class="column-two">
      <div class="form-group col-9">
        <label>Name</label>
        <input type="text" [attr.disabled]="!isEditMode ? '' : null" id="name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors['required']">Name is required</div>
        </div>
      </div>

      <br>

      <div class="form-group col-9">
        <label>Description</label>
        <input type="text" [attr.disabled]="!isEditMode ? '' : null" id="description" placeholder="Make us curious about yourself..." formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['description'].errors }" />
        <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
        </div>
      </div>

      <br> 

      <div class="form-group col-9">
        <label>URL</label>
        <input type="text" [attr.disabled]="!isEditMode ? '' : null" id="url" placeholder="A personal URL you brag with?" formControlName="url" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['url'].errors }" />
        <div *ngIf="submitted && f['url'].errors" class="invalid-feedback">
        </div>
      </div>

      <br>

      <div class="form-group col-9">
        <label>Location</label>
        <input type="text" [attr.disabled]="!isEditMode ? '' : null" id="location" placeholder="Where can we find you?" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['location'].errors }" />
        <div *ngIf="submitted && f['location'].errors" class="invalid-feedback">
        </div>
      </div>
    </div>

  </div>

    <br>
    <div class="form-row">
      <div class="form-group" id="save-cancel">
        <button class="btn btn-primary mr-1" *ngIf="isEditMode" class="btn btn-primary" (click)="updateUser()">
          <i class="tim-icons icon-simple-add"></i>
          Save
        </button>
        <a *ngIf="isEditMode" routerLink="/profile" class="btn btn-danger">
          <i class="tim-icons icon-trash-simple"></i>
          Cancel
        </a>
      </div>
    </div>
  </form>
  </div>
